.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#inputs-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

#column1 {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#column2 {
  display: flex;
  gap: 5px;
}

#url {
  width: 100%;
}

.urlTable {
  width: 100%
}

.urlTable, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 12px 15px;
}

input {
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}