#header {
  display: flex;
  align-items: center;
  padding: 15px;
  gap: 10px;
}

.image {
  width: 125px;
  height: auto;
}

.gaegu-regular {
  font-family: "Gaegu", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 50px solid;
  border-image-source: url(public/assets/lace.png);
  border-image-slice: 200;
  border-image-repeat: repeat;
}

#inputs-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 10px;
}

#inputs-container input {
  border: solid #ffc8dc 4px;
  outline: none;
  font-size: 20px;
  flex: 1;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #ff84b1;
  font-family: "gaegu";
  transition: box-shadow 0.3s;
}
#inputs-container input:hover {
  cursor: url(public/assets/link.gif), auto;
  box-shadow: 3px 3px 3px white;
}

#column1 {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#column2 {
  display: flex;
  gap: 10px;
}

#url {
  width: 100%;
}

.urlTable {
  width: 100%
}

.urlTable, th, td {
  border: 5px solid #ffd6df;
  background: white;
  border-collapse: collapse;
  font-size: 18px;
  padding: 12px 15px;
  margin-top: 10px;
  box-shadow: 0 0 10px 1px #ff84b1;
  border-radius: 5px;
  overflow: hidden;
}

th {
  font-size: 24px;
  color: #ff84b1;
}

button {
  background-color: #ff84b1;
  color: white;
  border: none;
  border-radius: 100px;
  font-family: "gaegu";
  font-size: 16px;
  transition: background 0.3s;
  padding: 5px 5px;
}
button:hover {
  background-color: #ffd6df;
  color: #ff84b1;
  cursor: url(public/assets/hover.gif), pointer;
}

a {
  color: #ff84b1;
  font-weight: 600;
  transition: color 0.3s;
}
a:hover {
  color: #ffd6df;
  cursor: url(public/assets/hover.gif), pointer;
}

.logo {
  filter: drop-shadow(5px 5px #ff84b1);
}